<div ng-controller="AddAKadaiCtrl" id="AddAKadai">

<div id="title0" ng-click="title0Tap()">
<h1>Add a Kadai</h1>

</div>

<div id="text_field1" ng-click="text_field1Tap()">
<input type="text" class="form-control" placeholder="Type here">

</div>

<div id="text_field2" ng-click="text_field2Tap()">
<input type="text" class="form-control" placeholder="Type here">

</div>

<div id="text_field3" ng-click="text_field3Tap()">
<input type="text" class="form-control" placeholder="Type here">

</div>

<div id="text_area4" ng-click="text_area4Tap()">
<textarea class="form-control" rows="3" placeholder="Type here" style="resize: none;"></textarea>

</div>

<div id="button5" ng-click="button5Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Add photo
</button>

</div>

<div id="button6" ng-click="button6Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Done
</button>

</div>

</div>