<div ng-controller="CategoriesCtrl" id="Categories">

<div id="heading" ng-click="">
<h1>Categories</h1>

</div>

<div id="button2" ng-click="button2Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  User Profile
</button>

</div>

<div id="button4" ng-click="button4Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Search
</button>

</div>

<div id="button5" ng-click="button5Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Map
</button>

</div>

<div id="button5" ng-click="button5Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Top 20
</button>

</div>

<div id="button6" ng-click="button6Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  TEA KADAI
</button>

</div>

<div id="button7" ng-click="button7Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Add a Kadai
</button>

</div>

<div id="button7" ng-click="button7Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Camera
</button>

</div>

<div id="button8" ng-click="button8Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Settings
</button>

</div>

</div>