<div ng-controller="KadaiProfileCtrl" id="KadaiProfile">

<div id="title0" ng-click="title0Tap()">
<h1>Kadai Profile</h1>

</div>

<div id="picture_field1" ng-click="picture_field1Tap()">
<img ng-src="http://www.appgyver.com/composer/composer-default-image.png" class="basic-image"></img>

</div>

<div id="button2" ng-click="button2Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Menu
</button>

</div>

<div id="button3" ng-click="button3Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Reviews
</button>

</div>

<div id="Hygiene" ng-click="HygieneTap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  Hygiene
</button>

</div>

<div id="button5" ng-click="button5Tap()">
<button type="button" class="btn btn-primary btn-lg btn-block">
  My Button
</button>

</div>

</div>