<div ng-controller="SearchPageCtrl" id="SearchPage">

<div id="title0" ng-click="title0Tap()">
<h1>Search Results/Listing Page</h1>

</div>

<div id="card_with_image_on_left_two_text_rows1" ng-click="card_with_image_on_left_two_text_rows1Tap()">
<div class="list card" ng-style="component.css">
  <div class="item item-avatar">
    <img src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Kadai1</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows2" ng-click="card_with_image_on_left_two_text_rows2Tap()">
<div class="list card" ng-style="component.css">
  <div class="item item-avatar">
    <img src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Kadai2</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows3" ng-click="card_with_image_on_left_two_text_rows3Tap()">
<div class="list card" ng-style="component.css">
  <div class="item item-avatar">
    <img src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Kadai3</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows4" ng-click="card_with_image_on_left_two_text_rows4Tap()">
<div class="list card" ng-style="component.css">
  <div class="item item-avatar">
    <img src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Kadai4</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

</div>