<script>
    var cacheImage = function() {
      $('img[data-src]').each(function() {
        $img = $(this);
        // see console output for debug info
        ImgCache.options.debug = true;
        ImgCache.options.usePersistentCache = true;
  
        ImgCache.init(function() {
          // 1. cache images
          // for (var i = 0; i < $proper.length; i++) {
          //   ImgCache.cacheFile($($proper[i]).attr('src'));
          // }
          // // 2. broken images get replaced
          // for (var i = 0; i < $broken.length; i++) {
          //   ImgCache.useCachedFile($($broken[i]));
          // }
          ImgCache.isCached($img.attr('data-src'), function(path, success){
            if (success){
                ImgCache.useCachedFile($img)
            } else {
              ImgCache.cacheFile($img.attr('data-src'), function(){
                ImgCache.useCachedFile($img)
              })
            }
          })

        });
      });

    };

    if (typeof(cordova) !== 'undefined') {
      // cordova test
      document.addEventListener('deviceready', cacheImage, false);
    } else {
      // normal browser test
      $(document).ready(cacheImage);
    }
</script>

    <div ng-controller="ShowCtrl">
        <div class="list card">
            <div class="item item-avatar">
                <img src="" data-src="{{ baseUrl }}/media/{{ kadai.fields.image }}">
                <h2>{{ kadai.fields.name }}</h2>
                {{kadai.fields.image}}
                <p>November 05, 1955</p>
            </div>
        <div class="item item-body">
            <img class="full-image" src="" data-src="{{ baseUrl }}/media/{{ kadai.fields.image }}">
            <p>
                {{ kadai.fields.description}}
            </p>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>
    </div>

