<div>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Kadai Name</span>
    <input type="text" ng-model="name" name="name" placeholder="ChaiKadai">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Describe abot the Kadai</span>
    <input type="text" ng-model="description" name ="description" placeholder="A nice midnight tea spot">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Image</span>
    <input type="file" ng-file-select="onFileSelect($files)" ng-model="image" name ="image">
  </label>
  <button class="button button-block button-balanced" ng-click="sendReq()">Upload</button>
</div>
</div>

<form method='post' action='http://192.168.2.6:1234/api/kadai/' enctype='multipart/form-data'><tr><th><label for="id_name">Name:</label></th><td><input id="id_name" maxlength="100" name="name" type="text" /></td></tr>
<tr><th><label for="id_description">Description:</label></th><td><textarea cols="40" id="id_description" name="description" rows="10">
</textarea></td></tr>
<tr><th><label for="id_image">Image:</label></th><td><input id="id_image" name="image" type="file" /></td></tr><input type='submit'></form>

    <script type="text/javascript" charset="utf-8">

    var pictureSource;   // picture source
    var destinationType; // sets the format of returned value

    // Wait for device API libraries to load
    //
    document.addEventListener("deviceready",onDeviceReady,false);

    // device APIs are available
    //
    function onDeviceReady() {
        pictureSource=navigator.camera.PictureSourceType;
        destinationType=navigator.camera.DestinationType;
    }

    // Called when a photo is successfully retrieved
    //
    function onPhotoDataSuccess(imageData) {
      // Uncomment to view the base64-encoded image data
      // console.log(imageData);

      // Get image handle
      //
      var smallImage = document.getElementById('smallImage');

      // Unhide image elements
      //
      smallImage.style.display = 'block';

      // Show the captured photo
      // The inline CSS rules are used to resize the image
      //
      smallImage.src = "data:image/jpeg;base64," + imageData;
    }

    // Called when a photo is successfully retrieved
    //
    function onPhotoURISuccess(imageURI) {
      // Uncomment to view the image file URI
      // console.log(imageURI);

      // Get image handle
      //
      var largeImage = document.getElementById('largeImage');

      // Unhide image elements
      //
      largeImage.style.display = 'block';

      // Show the captured photo
      // The inline CSS rules are used to resize the image
      //
      largeImage.src = imageURI;
    }

    // A button will call this function
    //
    function capturePhoto() {
      // Take picture using device camera and retrieve image as base64-encoded string
      navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 50,
        destinationType: destinationType.DATA_URL });
    }

    // A button will call this function
    //
    function capturePhotoEdit() {
      // Take picture using device camera, allow edit, and retrieve image as base64-encoded string
      navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 20, allowEdit: true,
        destinationType: destinationType.DATA_URL });
    }

    // A button will call this function
    //
    function getPhoto(source) {
      // Retrieve image file location from specified source
      navigator.camera.getPicture(onPhotoURISuccess, onFail, { quality: 50,
        destinationType: destinationType.FILE_URI,
        sourceType: source });
    }

    // Called if something bad happens.
    //
    function onFail(message) {
      alert('Failed because: ' + message);
    }

    </script>


    <button class="button button-block" onclick="capturePhoto();">Capture Photo</button>
    <button class="button button-block" onclick="capturePhotoEdit();">Capture Editable Photo</button>
    <button class="button button-block" onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button>
    <button class="button button-block" onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button>
    <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
    <img style="display:none;width:200px;height:200px;" id="largeImage" src="" />