<div ng-controller="UploadCtrl">

  <div class="list list-inset">
  <label class="item item-input">
    <input type="text" value="" name="name" id="name" placeholder="Name the Kadai!">
  </label>
  <label class="item item-input">
    <input type="text" value="" name="description" id="description" placeholder="Description">
  </label>

  <button class="button button-block button-positive" onclick="onDeviceReady()">
  Select picture from device
</button>
<button class="button button-block button-calm" onclick="onCamReady()">
  Take a new picture
</button>
<button id="upload-button" class="button button-block button-balanced" onclick="uploadPhoto()">
  Upload
</button>
<img id="picture" src="" style="display:none;height:100%;width:100%;" />
<button id="edit-pic" class="button button-block button-assertive" style="display: none;" onclick="editPhoto(document.getElementById('picture'))">Edit the pic</button>
</div>

<script type="text/javascript">
var photo;

var ready = function ready() {
    alert("Cordova is ready");
}

document.addEventListener("deviceready", ready, false);

var onDeviceReady = function onDeviceReady() {
    // Retrieve image file location from specified source
    navigator.camera.getPicture(
        storePhotoFile,
        function(message) { alert('get picture failed'); },
        {
                quality         : 50,
                destinationType : navigator.camera.DestinationType.FILE_URI,
                sourceType      : navigator.camera.PictureSourceType.PHOTOLIBRARY
        }
    );
}
var onCamReady = function onCamReady() {
    // Retrieve image file location from specified source
    navigator.camera.getPicture(
            storePhotoCam,
            function(message) { alert('get picture failed'); },
            {
                    quality         : 50,
                    destinationType : navigator.camera.DestinationType.FILE_URI,
                    sourceType      : navigator.camera.PictureSourceType.CAMERA,
                    correctOrientation : true,
                    allowEdit : true
            }
    );
}
var storePhotoFile = function storePhotoFile(imageURI){
    photo = imageURI;
    var img = document.getElementById('picture');
    img.style.display ='block';
    img.src = imageURI;
}

var storePhotoCam = function storePhotoCam(imageURI){
    photo = imageURI;

    var gotFileObject = function gotFileObject(file){
        
        var fileMoved = function fileMoved(file){
            var imageSrc = "/" + file.name + "?" + ((new Date()).getTime());
            var img = document.getElementById('picture');
            img.style.display ='block';
            img.src = imageSrc;
            photo = 'file://' + steroids.app.absoluteUserFilesPath + imageSrc;
            document.getElementById('edit-pic').style.display = 'block'
        }

        steroids.on('ready', function() {
            var targetDirURI = "file://" + steroids.app.absoluteUserFilesPath
            var fileName = "user_pic.jpg"
            
            window.resolveLocalFileSystemURI(
                targetDirURI,
                function(directory){
                    file.moveTo(
                        directory,
                        fileName,
                        fileMoved,
                        function(error){ alert(JSON.stringify(error)) }
                    )
                },
                function(error){ alert(JSON.stringify(error)) }
            );
        });

        
    }

    window.resolveLocalFileSystemURI(
        imageURI,
        gotFileObject,
        function(error){ alert(JSON.stringify(error)) }
    )
}

var win = function win(r) {
    alert("Upload done!")
    webView = new steroids.views.WebView("/views/kadai/list.html");
    steroids.layers.push(webView);
    console.log("Code = " + r.responseCode);
    console.log("Response = " + r.response);
    console.log("Sent = " + r.bytesSent);
}

var fail = function fail(error) {
    alert("An error has occurred: Code = " + JSON.stringify(error));
    console.log("upload error source " + error.source);
    console.log("upload error target " + error.target);
}

var uploadPhoto = function uploadPhoto() {
    document.getElementById('upload-button').innerHTML = 'Uploading... Please wait...'
    document.getElementById('upload-button').className = document.getElementById('upload-button').className.replace('button-balanced','button-energized')
    var options = new FileUploadOptions();
    options.fileKey="image";
    options.fileName=photo.substr(photo.lastIndexOf('/')+1);
    options.mimeType="image/jpeg";
    options.headers = {
        Connection: "close"
    };
    options.chunkedMode = false;

    var params = {};
    params.name = document.getElementById('name').value;
    params.description = document.getElementById('description').value;

    options.params = params;

    var ft = new FileTransfer();
    ft.upload(photo, encodeURI("http://192.168.2.14:1234/api/kadai/"), win, fail, options);
}

//**********************************//
function editPhoto(img){
    var imageSrc = img.src
    localStorage.setItem('imagePath', imageSrc)
    var webView = new steroids.views.WebView("/views/kadai/edit_pic.html");
    steroids.modal.show(webView);

}


</script>